---
---

.narrow {
  max-width: 60rem;
}
.fg-white {
  color: {{ site.data.palette.white }};
}
.fg-orange {
  color: {{ site.data.palette.orange }};
}
.bg-white {
  background-color: {{ site.data.palette.white }} !important;
}
.bg-blue {
  background-color: {{ site.data.palette.blue }};
}
.bg-purple {
  background-color: {{ site.data.palette.purple }} !important;
}
.bg-teal {
  background-color: {{ site.data.palette.teal }} !important;
}
.bg-charcoal {
  background-color: {{ site.data.palette.charcoal }} !important;
}
.bg-light-green {
  background-color: {{ site.data.palette.light-green }} !important;
}
.font-2x {
  font-size: 2rem;
}

a {
  font-weight: bold;
}

.social-link {
  color: #babdb6;
}
.social-link:hover {
  color: {{ site.data.palette.white }};
  text-decoration: none;
}
