---
---

.navbar {
  background-color: {{ site.data.palette.blue }};
  /* background-color: #d3d7cf;
  opacity: 0.9;
  color: black; */
}
#footer, #footer div {
  background-color: #ce5c00 !important;
  color: {{ site.data.palette.white }};
}
.social-link {
  color: #babdb6;
}
.social-link:hover {
  color: {{ site.data.palette.white }};
  text-decoration: none;
}

.jumbotron {
  margin: 0;
}

.scroll-to-top {
  background-color: #babdb6;
  border-radius: 0.5rem;
  bottom: 2rem;
  font-size: 2rem;
  height: 3rem;
  opacity: 0.5;
  position: fixed;
  right: 2rem;
  text-align: center;
  width: 3rem;
}
.scroll-to-top a {
  color: black;
}

.about {
  /* background-color: #204a87 !important; */
  background-color: {{ site.data.palette.blue }};
  color: {{ site.data.palette.white }};
}



/* timeline */

#timeline {
  background-color: {{ site.data.palette.charcoal }} !important;
}
.timeline-item {
  border-left: 2px solid {{ site.data.palette.white }};
  color: #d3d7cf;
  padding: 3em 2em 0.25em;
  position: relative;
}
.timeline-date {
  color: #babdb6;
  display: block;
  left: 2em;
  position: absolute;
  top: 1em;
}
.timeline-item::after {
  background: {{ site.data.palette.teal }};
  border-radius: 22px;
  border: 2px solid {{ site.data.palette.white }};
  content: "";
  display: block;
  height: 22px;
  left: -12px;
  position: absolute;
  top: 1em;
  width: 22px;
}
/* .blog {
  background-color: {{ site.data.palette.white }} !important;
  color: black;
} */
#blog {
  /* background-color: {{ site.data.palette.green }} !important; */
  /* background-color: #a40000 !important; */
  /* background-color: #d3d7cf !important; */
  background-color: teal !important;
  color: {{ site.data.palette.white }};
}
.blog-post {
  background-color: {{ site.data.palette.white }} !important;
  color: black;
}

#contact {
  background-color: {{ site.data.palette.purple }} !important;
  color: {{ site.data.palette.white }};
}
