---
---

.narrow {
  max-width: 60rem;
}
.fg-white {
  color: {{ site.data.palette.white }};
}
.fg-orange {
  color: {{ site.data.palette.orange }};
}
.bg-white {
  background-color: {{ site.data.palette.white }} !important;
}
.bg-blue {
  background-color: {{ site.data.palette.blue }};
}
.bg-purple {
  background-color: {{ site.data.palette.purple }} !important;
}
.bg-teal {
  background-color: {{ site.data.palette.teal }} !important;
}
.bg-charcoal {
  background-color: {{ site.data.palette.charcoal }} !important;
}
.bg-light-green {
  background-color: {{ site.data.palette.light-green }} !important;
}
.font-2x {
  font-size: 2rem;
}

.jumbotron {
  margin: 0;
}

/* footer */
#footer, #footer div {
  background-color: #ce5c00 !important;
  color: {{ site.data.palette.white }};
}
.social-link {
  color: #babdb6;
}
.social-link:hover {
  color: {{ site.data.palette.white }};
  text-decoration: none;
}


.scroll-to-top {
  background-color: #babdb6;
  border-radius: 0.5rem;
  bottom: 2rem;
  font-size: 2rem;
  height: 3rem;
  opacity: 0.5;
  position: fixed;
  right: 2rem;
  text-align: center;
  width: 3rem;
}
.scroll-to-top a {
  color: black;
}


/* timeline */

.timeline-item {
  border-left: 2px solid {{ site.data.palette.white }};
  color: #d3d7cf;
  padding: 3em 2em 0.25em;
  position: relative;
}
.timeline-date {
  color: #babdb6;
  display: block;
  left: 2em;
  position: absolute;
  top: 1em;
}
.timeline-item::after {
  background: {{ site.data.palette.teal }};
  border-radius: 22px;
  border: 2px solid {{ site.data.palette.white }};
  content: "";
  display: block;
  height: 22px;
  left: -12px;
  position: absolute;
  top: 1em;
  width: 22px;
}

input, textarea {
  background-color: transparent !important;
  border-width: 3px !important;
  color: {{ site.data.palette.white }} !important;
}

a {
  font-weight: bold;
}

#about a {
  color: #ffde03; /* {{ site.data.palette.light-yellow }}; */
}

#timeline a {
  color: #4DB6AC;
}

#footer .float-right a {
  color: #ffde03;
}
