.jumbotron {
  background-color: transparent;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 10%;
  color: #222
}
.name {
  font-size: 60px
}
.tagline {
  font-family: 'Lobster', sans-serif
}
