body {
  font-family: sans-serif
}
p {
  font-size: 1.25em
}
.jumbotron {
  background-color: transparent;
  margin-bottom: 0;
  padding-bottom: 0
}
footer {
  padding-bottom: 20px
}
small {
  font-size: 1em
}
