---
layout: default
stylesheets:
  - css/site.css
  - css/home.css
---

<!-- Navbar -->
{% include navbar.html %}
<!-- End navbar -->

<!-- Page content -->
<main>
  <div id="about" class="jumbotron jumbotron-fluid bg-blue fg-white pt-3">
    <div class="container narrow">
      <div class="text-center mb-4">
        <img
          src="https://avatars3.githubusercontent.com/u/6352546?s=150&u=bf6df426cf7ee769625321db22f7f267a4bb42e4&v=4"
          class="d-inline-block rounded-circle mr-4"
          height="150px"
          width="150px">
        <div class="d-inline-block align-middle text-left">
          <h1 class="display-4">
            Palmer Paul
            <span class="d-block font-2x">Software Engineer</span>
          </h1>
        </div>
      </div>
      {% capture about_md %}{% include about.md %}{% endcapture %}
      {{ about_md | markdownify }}
    </div>
  </div>

  <div id="timeline" class="jumbotron jumbotron-fluid bg-charcoal">
    <div class="container narrow">
      <h1 class="display-4 fg-white pb-3">
        About
      </h1>
      {% include timeline.html %}
    </div>
  </div>

  <div id="blog" class="jumbotron jumbotron-fluid bg-teal">
    <div class="container narrow">
      <h1 class="display-4 fg-white pb-3">
        Blog
      </h1>
      {% for post in site.posts limit:3 %}
      <div class="card my-4">
        <div class="card-body bg-white">
          <h5 class="card-title">{{ post.title }}</h5>
          <h6 class="card-subtitle text-muted mb-2">
            <time datetime="{{ post.date | date: '%Y-%m-%d' }}">
              {{ post.date | date: "%B %e, %Y" }}
            </time>
          </h6>
          <p class="card-text">{{ post.excerpt }}</p>
          <a href="{{ post.url }}" class="card-link">
            Continue reading...
          </a>
        </div>
      </div>
      {% endfor %}
      <a href="{{ "/blog" | absolute_url }}" role="button" class="btn btn-light btn-lg btn-block bg-white">See All Posts</a>
    </div>
  </div>

  <div id="contact" class="jumbotron jumbotron-fluid bg-purple fg-white">
    <div class="container narrow">
      <h1 class="display-4">
        Contact
      </h1>
      {% include formspree.html %}
    </div>
  </div>

  <div class="scroll-to-top">
    <a href="#"><i class="fas fa-chevron-up"></i></a>
  </div>
</main>
<!-- End page content -->

<!-- Begin footer -->
{% include blog/footer.html %}
<!-- End footer -->
