/* Fonts */

body {
  font-family: sans-serif;
  color: #444
}
p,
li {
  color: #555;
  font-size: 1.25em
}
a,
a:hover,
a:visited,
a:active {
  color: #607D8B;
  font-weight: bold;
  text-decoration: none
}
a:hover {
  color: #00BCD4
}

/* Navbar */

body {
  padding-top: 60px
}
.navbar-nav a {
  font-weight: normal
}

/* Footer */

footer {
  padding-bottom: 20px
}
small {
  font-size: 1em
}
