<div class="container">
  <div class="page-header">
    <h1 class="heading text-center">About Me</h1>
  </div>
  <p>
    Hey there! Welcome to my site! I'm Palmer, and I am a self-taught programmer. I am very proficient in many languages, and I guess you could say that I have a knack for programming. At the moment I am just trying to broaden my horizons as much as possible
    by doing various interesting projects (which can be found on my <a href="https://github.com/pzp1997">GitHub</a>).
  </p>
  <p>
    My programming career started in 2012 when my school's Engineering Club was building a rudimentary 3D printer, and we needed someone to design some software for it (unfortunately I've misplaced that code). To suit up for the task, I started learning Python.
    After completing that project I knew I had caught the coding bug, and went on to teach myself JavaScript, Processing, Java (including the whole AP Computer Science curriculam), C++ (which I picked up in about a week), and a slew of other programming
    languages.
  </p>
  <p>
    Last year I created a <a href="https://github.com/AJHS/CMS">Content Management System (CMS)</a> with a friend of mine in Computer Programming Club. I wrote the entire backend using Node.js (Express and MongoDB), as well as a good portion of the frontend using Jade (a nifty little HTML templating
    language), CSS, and JavaScript with jQuery.
  </p>
  <p>
    Over the summer I experimented with computer vision using the OpenCV library. My primary project was finding an effective method of determining the gender of a person in realtime using full body images (i.e. no face detection). This project
    is still a work in progress.
  </p>
</div>
