<div class="container">
  <div class="page-header">
    <h2>Contact</h2>
  </div>

  <p>
    Feel free to contact me by email or Twitter. If the subject is confidential (or you're just paranoid about someone reading your email), use <a href="/pgp.txt">my PGP Key</a>.
  </p>

  <!-- <div class="row">
    <div class="col-xs-6 col-xs-offset-1">
      <p class="text-center">
        <strong>Email</strong>
      </p>
    </div>
    <div class="col-xs-4">
      <p class="text-center">
        <strong>Twitter</strong>
      </p>
    </div>
    <div class="col-xs-4">
      <p class="text-center">
        <strong>GitHub</strong>
      </p>
    </div>
  </div> -->

  <!-- <div class="row"><div class="col-lg-10 col-lg-offset-1 col-md-12">
    <div class="col-sm-2 col-sm-offset-1 col-xs-4">
      <a href="mailto:pzpaul2002@yahoo.com" class="thumbnail">
        <img alt="Email" src="/imgs/EmailIcon.png" class="img-circle">
      </a>
    </div>
    <div class="col-sm-2 col-sm-offset-2 col-xs-4">
      <a href="https://twitter.com/pzp1997" class="thumbnail">
        <img alt="Twitter" src="/imgs/TwitterLogo.png" class="img-circle">
      </a>
    </div>
    <div class="col-sm-2 col-sm-offset-2 col-xs-4">
      <a href="https://github.com/pzp1997" class="thumbnail">
        <img alt="GitHub" src="/imgs/GitHubMark.png" class="img-circle">
      </a>
    </div>
  </div></div> -->

  <!-- <div class="github-card" data-github="pzp1997" data-width="400" data-height="150" data-theme="default"></div>
  <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>

  <img alt="Project Euler" src="https://projecteuler.net/profile/pzp1997.png">

  <a href="http://stackoverflow.com/users/3155933/pzp">
  <img src="http://stackoverflow.com/users/flair/3155933.png" width="208" height="58" alt="profile for pzp at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for pzp at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
  </a> -->

  <div class="row">
    <div class="col-sm-7 col-xs-5">
      <p class="text-center">
        <strong>Email</strong>
      </p>
      {% include formspree.html %}
    </div>
    <div class="col-sm-5 col-xs-7">
      <p class="text-center">
        <strong>Twitter</strong>
      </p>
      <a class="twitter-timeline" href="https://twitter.com/pzp1997" data-widget-id="670325541493481472" data-chrome="noborders">>Tweets by @pzp1997</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
</div>
