<div class="container">
  <div class="page-header">
    <h2>Contact</h2>
  </div>

  <p>
    Feel free to contact me via any of the means below. If the subject is confidential (or you're just paranoid about someone reading your email), use <a href="pgp.txt">my PGP Key</a>.
  </p>

  <div class="row"><div class="col-lg-10 col-lg-offset-1 col-md-12">
    <div class="col-xs-4">
      <p class="text-center">
        <strong>Email</strong>
      </p>
    </div>
    <div class="col-xs-4">
      <p class="text-center">
        <strong>Twitter</strong>
      </p>
    </div>
    <div class="col-xs-4">
      <p class="text-center">
        <strong>GitHub</strong>
      </p>
    </div>
  </div></div>

  <div class="row"><div class="col-lg-10 col-lg-offset-1 col-md-12">
    <div class="col-sm-2 col-sm-offset-1 col-xs-4">
      <a href="mailto:pzpaul2002@yahoo.com" class="thumbnail">
        <img alt="Email" src="/imgs/EmailIcon.png" class="img-circle">
      </a>
    </div>
    <div class="col-sm-2 col-sm-offset-2 col-xs-4">
      <a href="https://twitter.com/pzp1997" class="thumbnail">
        <img alt="Twitter" src="/imgs/TwitterLogo.png" class="img-circle">
      </a>
    </div>
    <div class="col-sm-2 col-sm-offset-2 col-xs-4">
      <a href="https://github.com/pzp1997" class="thumbnail">
        <img alt="GitHub" src="/imgs/GitHubMark.png" class="img-circle">
      </a>
    </div>
  </div></div>
</div>
