<div class="container">
  <div class="page-header">
    <h1 class="heading text-center">Contact</h1>
  </div>

  <p>
    Feel free to contact me by email or Twitter. If the subject is confidential (or you're just paranoid about someone reading your email), use <a href="/pgp.txt">my PGP Key</a>.
  </p>

  <div class="row">
    <div class="col-sm-7 col-xs-5">
      <p class="text-center">
        <strong>Email</strong>
      </p>
      {% include formspree.html %}
    </div>
    <div class="col-sm-5 col-xs-7">
      <p class="text-center">
        <strong>Twitter</strong>
      </p>
      <a class="twitter-timeline" href="https://twitter.com/pzp1997" data-widget-id="670325541493481472" data-chrome="noborders">>Tweets by @pzp1997</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
</div>
