<div>
  <form id="contact-form" method="POST">
    <div class="mb-3">
      <label for="" class="lead">Name</label>
      <input type="text" class="form-control" aria-label="Name" aria-describedby="input-label-name">
    </div>
    <div class="mb-3">
      <label for="" class="lead">Email</label>
      <input type="email" name="_replyto" class="form-control" aria-label="Email" aria-describedby="input-label-email" required>
    </div>
    <input type="hidden" name="_subject" value="Contact Palmer">
    <div class="mb-3">
      <label class="lead">Message</label>
      <textarea type="text" name="message" rows="5" class="form-control" aria-label="Message" required></textarea>
    </div>
    <input type="text" name="_gotcha" class="d-none">
    <div class="form-group">
      <button class="btn btn-light" type="submit">
        Send
      </button>
    </div>
  </form>
</div>
<script>
  document.getElementById("contact-form").setAttribute("action", atob("aHR0cDovL2Zvcm1zcHJlZS5pby9wenBhdWwyMDAyQHlhaG9vLmNvbQ=="));
</script>
