<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="google-site-verification" content="JvWenr3if7pwu8kK7P2jsFj0dZZJNS-kuSRfFWrUUxU" />

  <title>Palmer Paul</title>

  <link rel="shortcut icon" type="image/png" href="/favicon.png">
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto|Rubik:500{% for font in page.fonts %}|{{ font }}{% endfor %}" rel="stylesheet" type="text/css"> -->
  <!-- <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/brands.css">
  <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/fontawesome.css"> -->
  <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.css">

  <link rel="stylesheet" type="text/css" href="/css/site.css">
  {% for stylesheet in page.stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ stylesheet }}">
  {% endfor %}

  {% seo %}
  {% feed_meta %}
</head>
