<nav class="navbar navbar-expand navbar-dark">
  <div class="container">
    <div class="collapse navbar-collapse justify-content-center" id="navbar-links">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#timeline">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% link public-resume.pdf %}">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/pzp1997">GitHub</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
