<div class="container">
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand heading" href="{% link index.html %}">
          Palmer <span class="orange">Paul</span>
        </a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="{% link about/index.md %}"{% if page.title == 'About' %} class="active"{% endif %}>About</a>
          </li>
          <li>
            <a href="{% link blog/index.html %}"{% if page.title == 'Blog' %} class="active"{% endif %}>Blog</a>
          </li>
          <li>
            <a href="{% link contact/index.html %}"{% if page.title == 'Contact' %} class="active"{% endif %}>Contact</a>
          </li>
          <li>
            <a href="{% link public-resume.pdf %}">R&eacute;sum&eacute;</a>
          </li>
          <li>
            <a href="https://github.com/pzp1997">GitHub <i class="fa fa-external-link fa-fw" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
