<div class="container">
  <div class="page-header">
    <h1 class="heading text-center">Selected Work</h1>
  </div>

  <p>Processing Mobile (<a href="Processing-Mobile">http://palmerpaul.com/Processing-Mobile/</a>)</p>
  <ul>
    <li>
      JavaScript library that adds mobile capabilities to Processing, a programming language used mainly by visual artists.
    </li>
    <li>
      I <a href="http://itp.nyu.edu/camp2015/session/279">presented this project</a> at the Interactive Telecommunications Program at New York University in June 2015.
    </li>
  </ul>

  <p><a href="https://github.com/pzp1997/BlobDetection">BlobDetection</a></p>
  <ul>
    <li>
      A hand coded blob (clumps of pixels in an image that have similar properties) detection library.
    </li>
    <li>
      See it in action! Here's a <a href="https://youtu.be/jzq_pFyg5hk">demonstration</a> of me using it to track a ping pong ball.
    </li>
  </ul>
</div>
