.form-control,
.btn {
  border-radius: 0
}
.btn {
  background-color: #337ab7;
  border: 2px solid #337ab7;
  color: #fff
}
.btn:hover {
  background-color: #fff;
  border: 2px solid #337ab7;
  color: #337ab7
}
.form-group > label,
.btn {
  width: 100%
}
.panel-title {
  display: inline-block
}
.panel-heading {
  background-color: #555 !important;
  color: #ddd !important;
}
.panel-body {
  background-color: #555;
  color: #ddd;
}
