.form-control,
.btn {
  border-radius: 0
}
.btn {
  width: 50%;
  max-width: 260px;
  min-width: 130px;
  background-color: #337ab7;
  border: 1px solid #337ab7;
  color: #fff
}
.btn:hover {
  background-color: #fff;
  border: 1px solid #337ab7;
  color: #337ab7
}
.form-group > label {
  width: 100%
}
