---
---

<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  {% include analytics.html %}

  <!-- Navbar -->
  <header>
    {% include navbar.html %}
  </header>
  <!-- End navbar -->


  <!-- Page content -->
  <main>
    {{ content }}
  </main>
  <!-- End page content -->

  <!-- Begin footer -->
  {% include footer.html %}
  <!-- End footer -->

  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>
