---
---

<!doctype html>
<html lang="en">

{% include head.html %}

<body>
  {% include analytics.html %}

  <!-- Navbar -->
  <header>
    {% include navbar.html %}
  </header>
  <!-- End navbar -->


  <!-- Page content -->
  <main>
    {{ content }}
  </main>
  <!-- End page content -->

  <!-- Begin footer -->
  {% include footer.html %}
  <!-- End footer -->

  <!-- <script type="text/javascript">
    function scrollY(id) {
      return document.getElementById(id).getBoundingClientRect().top;
    }
    var navbar = document.getElementsByClassName('navbar')[0];
    var timeline = scrollY('timeline');
    var blog = scrollY('blog');
    var contact = scrollY('contact');
    window.addEventListener('scroll', function() {
      var scroll = window.scrollY;
      var color = scroll < timeline ? '{{ site.data.palette.blue }}'
                    : scroll < blog ? '{{ site.data.palette.green }}'
                    :                 '{{ site.data.palette.purple }}';
      navbar.style.backgroundColor = color + ' !important';
    });
  </script> -->
</body>

</html>
