---
layout: default
---

<div class="container">
  <article>
    <h1 class="heading orange">{{ page.title }}</h1>
    <p><time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: "%B %e, %Y" }}</time></p>
    <br>

    {{ content }}

    <br>
    <h3 class="signature">&mdash; {{ page.author }}</h3>
  </article>

  {% if page.comments %}
  <br>
  <h3 class="heading">Comments</h3>
  {% include disqus.html %}
  {% endif %}

  {% if page.latex %}
  <script type="text/javascript" async src="/bower_components/MathJax/MathJax.js?config=TeX-AMS_CHTML"></script>
  {% endif %}
</div>
